<div class="row">
  <div class="col-md-6">
  	<h1>No completados</h1>
  	  <table class="table">
			<tr>
		    <th>Description</th>
		    <th>Completed</br></th>
		  </tr >
  	<% @no_completados.each do |notodo| %>
  	<tr>
		 <td><%= notodo.description %></td>
		 <td><%= notodo.completed %></td>
		 </tr >
		
	<% end %>
	</table>
  </div>
    <div class="col-md-6">
  	<h1>Completados</h1>
  	  <table class="table">
			<tr>
		    <th>Description</th>
		    <th>Completed</br></th>
		  </tr >
  	<% @completados.each do |todo| %>
  	<tr>
		 <td><%= todo.description %></td>
		 <td><%= todo.completed %></td>
		 </tr >
		
	<% end %>
	</table>
  </div>
</div>